
@model Employee


@{
    ViewData["Title"] = "Employee Details";
}   


<h2>Employee Details</h2>
<hr/>

<div>
    <h3>Employee Id : @Model.Id</h3>
    <h3>Employee Name: @Model.Name</h3> 
    <h3>Employee Job: @Model.Job</h3>
    <h3>Employee Salary: @Model.Salary</h3> 
    <h3>Employee Department: @Model.Deptno</h3>    
</div>