
@model WebApplication50.Models.Employee

@{
    ViewData["Title"] = "Employee Details";
}   

<h3>Employee Details</h3>
<hr/>
<div class="card">
    <div class="card-header">
        Employee Information
    </div>
    <div class="card-body">
        <h5 class="card-title"> @Model.Name (Id :  @Model.Id)</h5>
        <p class="card-text">Designation: @Model.Job</p>
        <p class="card-text">Salary: @Model.Salary</p>
        <p class="card-text">Department No: @Model.Deptno</p>
    </div>
</div>